<h4><a href="{{ path('office_view', {slug: office.slug}) }}" title="Office details">{{ office.name }}</a></h4>

<address>
    <p>{{ officeCountry.name }}</p>
    <p>{{ office.address }}, {{ office.city }} {{ office.country }} {{ office.zipCode }}</p>
</address>

<p><em>Employees: {{ users_count }}</em></p>
