<h4>{{ office.name }}</h4>

<address>
    <p>{{ officeCountry.name }}</p>
    <p>{{ office.address }}, {{ office.city }} {{ office.country }} {{ office.zipCode }}</p>
</address>

{% if users is not empty %}
    <h5>Employees</h5>
    <ul>
        {% for user in users %}
            <li>{{ user.fullNameReversed(', ') }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><em>No employees in this office</em></p>
{% endif %}
