<h4><a href="{{ path('office_view', {slug: office.slug}) }}" title="Office details">{{ office.name }}</a></h4>

<p><strong>Categories:</strong></p>
<ul>
    {% for category in office.categories %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>

<address>
    <p>{{ officeCountry.name }}</p>
    <p>{{ office.address }}, {{ office.city }} {{ office.country }} {{ office.zipCode }}</p>
</address>

<p><em>Employees: {{ users_count }}</em></p>
