<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta '' %}

    <title>
        {%- block title -%}
            {% block page_head_title %}{{ block('page_title') }}{% endblock %} | {% block app_title 'CS50_2017' %}
        {%- endblock -%}
    </title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.chosen.min.css') }}">
    {% block stylesheets '' %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block final_stylesheets '' %}
</head>
<body>
{% block header %}
    <header>
        <div class="container">
            <div class="page-header">CS50_2017</div>
            {% include 'nav_main.html.twig' %}
        </div>
    </header>
{% endblock %}

<div class="container">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>{% block page_title '' %}</h1>

    <div class="content">
        {% block content '' %}
    </div>
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="page-footer">
                &copy; {{ 'now'|date('Y') }}
            </div>
        </div>
    </footer>
{% endblock %}

<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-3.3.7.min.js') }}"></script>
<script src="{{ asset('js/eModal-1.2.65.min.js') }}"></script>
<script src="{{ asset('js/jquery.chosen-1.6.2.min.js') }}"></script>
{% block javascripts '' %}
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% block final_javascripts '' %}

</body>
</html>
