{% spaceless %}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main">
        {% if app.user %}
            {% if is_granted('ROLE_USER') %}
                {{ knp_menu_render('AppBundle:MenuBuilder:userMenu', {'currentClass': 'active'}) }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ knp_menu_render('AppBundle:MenuBuilder:adminMenu', {'currentClass': 'active'}) }}
            {% endif %}
        {% else %}
            {{ knp_menu_render('AppBundle:MenuBuilder:defaultMenu', {'currentClass': 'active'}) }}
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li>Logged in as: <strong>{{ app.user.fullName }}</strong> <a href="{{ path('security_logout') }}">Logout</a></li>
            {% else %}
                <li>Not logged in. <a href="{{ path('security_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endspaceless %}
