{% extends 'base.html.twig' %}

{% block page_title 'Offices' %}

{% block content %}
    <div class="actions">
        <a href="{{ path('admin_office_add') }}" class="btn btn-primary">Add office</a>
    </div>

    {% if offices is not empty %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Categories</th>
                <th>Name</th>
                <th>Address</th>
                <th>Employees</th>
                <th class="actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for office in offices %}
                <tr>
                    <td>{{ office.id }}</td>
                    <td>
                        <ul>
                        {% for category in office.categories %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ office.name }}</td>
                    <td>{{ office.fullAddress }}</td>
                    <td>
                        {% if office.users is not empty %}
                            <ul>
                                {% for user in office.users %}
                                    <li>{{ user.fullName }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td class="actions">
                        <a href="{{ path('admin_office_edit', {id: office.id}) }}" class="btn btn-primary">Edit</a>
                        {{ delete_form(path('admin_office_delete', { id: office.id })) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="total">{{ offices|length }} offices</div>
    {% else %}
        <p>No offices</p>
    {% endif %}
{% endblock %}
