{% extends 'base.html.twig' %}

{% block page_title 'Offices list' %}

{% block content %}
    <div class="actions">
        <a href="{{ path('admin_office_add') }}" class="btn btn-primary">Add office</a>
    </div>

    {% if officePagination.totalItemCount > 0 %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(officePagination, 'ID', 'o.id') }}
                    {% if officePagination.isSorted('o.id') %}<i class="glyphicon glyphicon-sort"></i>{% endif %}
                </th>
                <th>Categories</th>
                <th>
                    {{ knp_pagination_sortable(officePagination, 'Name', 'o.name') }}
                    {% if officePagination.isSorted('o.name') %}<i class="glyphicon glyphicon-sort"></i>{% endif %}
                </th>
                <th>Address</th>
                <th>Employees</th>
                <th class="actions"></th>
            </tr>
            </thead>

            {% for office in officePagination %}
                <tbody>
                <tr>
                    <td>{{ office.id }}</td>
                    <td>
                        <ul>
                            {% for category in office.categories %}
                                <li>{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ office.name }}</td>
                    <td>{{ office.fullAddress }}</td>
                    <td>
                        {% if office.users is not empty %}
                            <ul>
                                {% for user in office.users %}
                                    <li>{{ user.fullName }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td class="actions">
                        <a href="{{ path('admin_office_edit', {id: office.id}) }}" class="btn btn-primary">Edit</a>
                        {{ delete_form(path('admin_office_delete', { id: office.id })) }}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        {{ knp_pagination_render(officePagination) }}

        <div class="total">
            {{ officePagination.totalItemCount }} offices
        </div>
    {% else %}
        <p>No offices</p>
    {% endif %}
{% endblock %}
